USE [QAdb]
GO
/****** Object:  Table [dbo].[AccordionCategory]    Script Date: 2025/10/30 下午 01:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccordionCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QAPair]    Script Date: 2025/10/30 下午 01:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QAPair](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Question] [nvarchar](200) NOT NULL,
	[Answer] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccordionCategory] ON 

INSERT [dbo].[AccordionCategory] ([Id], [Title]) VALUES (1, N'🛒 茶葉選購與品質')
INSERT [dbo].[AccordionCategory] ([Id], [Title]) VALUES (2, N'🌿 茶種與製程')
INSERT [dbo].[AccordionCategory] ([Id], [Title]) VALUES (3, N'☕ 沖泡與保存')
SET IDENTITY_INSERT [dbo].[AccordionCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[QAPair] ON 

INSERT [dbo].[QAPair] ([Id], [CategoryId], [Question], [Answer]) VALUES (1, 1, N'Q：如何分辨茶葉好壞？', N'A：看外觀（色澤、條索）、聞香氣、泡水後觀察茶湯色與滋味。')
INSERT [dbo].[QAPair] ([Id], [CategoryId], [Question], [Answer]) VALUES (2, 1, N'Q：進口茶是否安全？', N'A：多數進口茶經過多重檢驗程序，甚至比部分本地茶更嚴格。')
INSERT [dbo].[QAPair] ([Id], [CategoryId], [Question], [Answer]) VALUES (3, 2, N'Q：什麼是烏龍茶？', N'A：屬於部分發酵茶，氧化度介於綠茶與紅茶之間，常見有球型（烏龍）與條型（包種）。')
SET IDENTITY_INSERT [dbo].[QAPair] OFF
GO
ALTER TABLE [dbo].[QAPair]  WITH CHECK ADD  CONSTRAINT [FK_QAPair_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[AccordionCategory] ([Id])
GO
ALTER TABLE [dbo].[QAPair] CHECK CONSTRAINT [FK_QAPair_Category]
GO
